#proc areadef
  title: Income Vs Expenses
  rectangle: 1 1 2.5 2
  xrange: 0 3
  yrange: 0 $MAX
  yaxis.tics: none
  yaxis.axisline: none
  xaxis.stubs: text
	Income
	Expenses

#proc getdata
  rotate: yes
  data:	 $INCOME $EXPENSES
 
#proc bars
  lenfield: 1
  color: dullyellow
  labelword: @@N
  crossover: 0
  barwidth: 0.40


