Package: mmex
Version: 0.8.0.4
Section: misc
Priority: optional
Architecture: i386
Depends: libc6 (>= 2.3.5-1), libsqlite3-0, libwxgtk2.8-0 (>=2.8.0.1-1)
Recommends: 
Installed-Size: 10856
Maintainer: Madhan Kanagavel <madhan@yahoo.com>
Description: Cross-platform simple to use financial management software. 
