Package: mmex
Version: 0.9.9.2
Section: misc
Priority: optional
Architecture: i386
Depends: libc6 (>= 2.3.5-1), libwxgtk2.8-0 (>=2.8.0)
Installed-Size: 8200
Maintainer: Nikolay Akimov <vomikan@mail.ru>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

