Package: mmex
Version: 0.7.0.7
Section: misc
Priority: optional
Architecture: i386
Depends: libc6 (>= 2.3.5-1), libsqlite3-0, libwxgtk2.6-0 (>=2.6.3.2.1.5)
Recommends: 
Installed-Size: 10856
Maintainer: Madhan Kanagavel <madhan@yahoo.com>
Description: Cross-platform simple to use financial management software. 
